@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
html, body {
		width: 100vm !important;
		padding: 0 !important;
}
.App {
  text-align: left;
	font-family: 'Fira Sans', sans-serif;
	align-items: center;
	overflow-x: hidden;
  padding: 0;
  margin: 0;
		width: 100vm;
		  background-color: #1a1b22;

}

 h5 {
	 font-weight: 600;
 }
 p {
	 font-weight: 200;
 }

@media (min-width: 1201px) {
	.App {
	    padding-left: 0 !important;
		padding-right: 0%;
		padding-bottom: 0%;
		padding-top: 0%;

	}
	.accent1 {
	  animation: easeinheader ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.accent2 {
		animation: easeinheader ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
}

@media (max-width: 1200px) {

	.App {
	    padding-left: 5%;
		padding-right: 5%;
	}
	.break {
	display: none;
}
.App {
overflow-x: hidden !important;}

.p-manifesto {
	font-size: 17px !important;
}
h5 {
	font-size: 23px;
}

}

.moving {
	margin-top: 35px;
	margin-bottom: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
	.moving {
		display: none;
	}
	.still {
		display: inheret;
	}
}

.still {
	display: none;
}

.App-header {

  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
	align-items: left;
}

.App-link {
  color: #61dafb;
}

.hey {
	margin-bottom: -20px;
}

Subnav {
	text-align: center;

}

p {
	font-size: 25px;
}
.manifesto {
	margin-bottom: 0px;
}
.p-manifesto {
	font-size: 20px;
}

a {
	text-decoration: none;
    background-color: #c8deec22;
		color: white;
    padding: 0 .3em !important;
    border-radius: 3px;
		padding-top: -30px;
}

a:hover{
	background-color: #59bfff6e;
transition: all 0.3s ease;
animation-timing-function: ease;

}


.a {
	background-color: #59bfff6e;
}
.accent1 {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 600px;
  max-width: 100vw;
}
.accent2 {
  z-index: 0;
  position: absolute;
  width: 600px;
  right: 0;
}

@keyframes example {
  from {left: -20px}
  to {left: 20px;}
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1b22;
}

::-webkit-scrollbar-thumb {
  background: #888;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
	transition: 2s ease;
}

.streamlit {
	height: 1600px !important;
    position: absolute;
    left: 0;
		margin: 0 !important;
		padding: 0 !important;
    overflow: hidden;
}

@keyframes easein {
	  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes easeinheader {
	  0% {
			opacity: 0;
		}
		30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes easeincontent {
	  0% {
			opacity: 0;
		}
		50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.hey {
    animation: easein ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.moving {
    animation: easeinheader 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subnav {
    animation: easeinheader 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.manifestoanimation {
	  animation: easeincontent ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.highlightsanimation {
	  animation: easeincontent ease 6.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.socialsanimation {
	  animation: easeincontent ease 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.upcominganimation {
	  animation: easeincontent ease 9.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

